.e-portal-nav {
  text-shadow: 0 -1px 0 rgba(0,0,0,.15);
  background-color: #883131;
  border-color: #883131;
  box-shadow: 0 1px 0 rgba(255,255,255,.1);
}
.e-portal-nav .navbar-collapse {
  border-color: #883131;
}
hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}
